<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.meruvian.midas.android"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".SplashScreen"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Main"></activity>
        <activity android:name="Login"></activity>
        <activity android:name="AboutUs"></activity>
        <activity android:name=".form.MultipleAnswerBullet"></activity>
        <activity android:name=".form.SingleAnswerBullet"></activity>
        <activity android:name=".form.ChoiceSingleAnswer"></activity>
        <activity android:name=".form.NameAddress"></activity>
        <activity android:name=".form.OpenEnded"></activity>
        <activity android:name="Preference"></activity>
        <activity android:name="Registration"></activity>
        <activity android:name="org.meruvian.midas.android.form.Summary"></activity>
        

    </application>
</manifest>